.movie-add {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;
    
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  margin: 2rem;
}


.MuiButton-root{
  color: black;
}

.MuiToolbar-root {
  background-color:black;
}

.MuiRating-icon {
  color:#7EEF13;
  background-color: black;
  border-radius: 50%;
  border: 1px solid #7EEF13;
  font-size: 15px;
  font-weight: 200;
  margin-left: 4px;
}

.MuiTypography-h6 {
  color: #caff98;
  font-size: 40px;
  font-weight: bolder;
}
